
    <p id="winner"><%= current_game.winner %> is the winner!</p>
    <p id="time"><%= current_game.duration %> seconds</p>
    <p id="secret-url">Visit <a href="http://localhost:9393/<%= current_game.secret_url %>">http://localhost:9393/<%= current_game.secret_url %></a> to view these results later!</p>
