<img id='winner' src='../images/iEItZGRWbnPSn.gif'/>

<div class ="racer_board">
  <div id="cage1">
    <img src='http://ih3.redbubble.net/image.13426625.7588/sticker,375x360.u1.png'/>
    <div class="row1"></div>
  </div>

  <div id="cage2">
    <img src='http://files.gamebanana.com/img/ico/sprays/516c32f08e03d.png'/>
    <div class="row2"></div>
  </div>

  <p>CAGE RACER</p>
</div>

