<div class="container">

 <p>Cage Racer</p>

<form id="player_name" action="/game2" method="POST">
  <label for="player_one">Player One:</label>
  <input id="player_one" type="text" name="player_one" placeholder="Enter your name"><br>
  <label for="player_two">Player Two:</label>
  <input id="player_two" type="text" name="player_two" placeholder="Enter your name"><br><br>
  <input id="submit" type="submit" name="Race!" value="Race!"/>
<form>
  

<p class="footer">The best thing you've ever done.</p>
</div>


